<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List of Matches</title>
        <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
        {% from "macros.html" import match_card with context %}
        
</head>
<body>
    <div class="match-container">
        {% for match in matches%}
            <li>
                {{match_card(match)}}
            </li>
        {%endfor%}    
    </div>
</body>
</html>